<ul class="women">
  <li *ngFor="let woman of women">
    <a routerLink="/detail/{{woman.id}}">
      <span class="badge">{{woman.id}}</span> {{woman.name}}
    </a>
    <button class="delete" title="Delete woman"
(click)="deleteWoman(woman.id)">X</button>
  </li>
</ul>
<div>
  <label>Woman name:
    <input #womanName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="addNewWoman(womanName.value); womanName.value=''">
    add
  </button>
  
</div>